BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterCStyleCast: true
ReflowComments: true
SortIncludes: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
Cpp11BracedListStyle: false
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
